@page "/Rate"
<div class="window-SP">
    <div class="cont-SP">
        <p class="SP-title">ЗАПИСЬ НА ТАРИФ</p>
        <input class="SP-text" type="text" placeholder="ИМЯ" required>
        <div class="inline">
            <input class="SP-text2" type="tel" placeholder="ТЕЛЕФОН" required>
            <input class="SP-text2" type="email" placeholder="ПОЧТА" required>
        </div>
        <div class="inline2">
            <label class="SP" for="rate">ВЫБЕРИТЕ ТАРИФ</label>
            <select class="window" id="package">
                <option value="vocal recording">ЗАПИСЬ ВОКАЛА</option>
                <option value="mixing and mastering">СВЕДЕНИЕ И МАСТЕРИНГ</option>
                <option value="arrangement">АРАНЖИРОВКА</option>
                <option value="writing text">НАПИСАНИЕ ТЕКСТА</option>
            </select>

            <input class="date-SP" type="date" placeholder="ДАТА" required>
        </div>


        <button class="btn-SP" type="submit">ЗАПИСАТЬСЯ</button>
    </div>
</div>


